[Desktop Entry]
Type=Application
Name=Calculadora
Icon=/usr/share/calculadora/calculadora.png
Comment=Calculadora de python
Exec=/usr/bin/calculadora
Path=
Terminal=false
StartupNotify=false
