[Desktop Entry]
Type=Application
Name=Calculadora
Icon=calculadora
Comment=Calculadora de python
Exec=/usr/bin/calculadora
Terminal=false
StartupNotify=false
